extends layout

block content
  main(class='container', role='main')
    h1(class='display-3')= title
    h2 Hur går det till?
    p Du kan själv söka kontakt för egen del direkt via mail till någon av bildterapeuterna, eller via din Företagshälsovård eller annan kontaktperson. Önskar du allmän information maila till kgunillak@gmail.com
    p För konsultativa insatser och övriga beställningsuppdrag, ta kontakt för diskussion om vem av oss som är bäst lämpad. Maila då till kgunillak@gmail.com
    h2 Hitta hit?
    p Detta är ett exempel på text.